.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.outer-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  height: 100vh;
  align-items: center;
  padding: 20px 40px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.bin-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  padding: 16px;
  width: 1200px;
}

.bin-text {
  font-size: 80px;
  font-weight: 700;
}

.input-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 100px;
}

.code-input {
  margin-right: 10px;
}

.yellow-bin {
  background-color: yellow;
}

.azure-bin {
  background-color: rgb(17, 117, 184)
}

.grey-bin {
  background-color: grey;
}

.purple-bin {
  background-color: purple;
}