.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.outer-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  height: 100vh;
  align-items: center;
  padding: 20px 40px;
}

.bin-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
}

.bin-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  padding: 12px;
  margin-right: 5px;
  width: 600px;
}

.delete-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}

.bin-text {
  font-size: 44px;
  font-weight: 700;
}

.input-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 50px;
}

.delete-all-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 50px;
}

.code-input {
  margin-right: 10px;
}

.green-bin {
  background-color: #00b050;
}

.purple-bin {
  background-color: #7030a0;
}

.yellow-bin {
  background-color: #ffff00;
}

.azure-bin {
  background-color: #00b0f0
}

.grey-bin {
  background-color: #a5a5a5;
}

.red-bin {
  background-color: #c00000;
}